#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                    COMPILED                      #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
# Compiled Java class files and archives
*.class
*.jar
*.war
*.ear

# Maven build output
target/

# Gradle build output
build/
.gradle/

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                   CONFIG & LOGS                  #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
# Log files
*.log

# Local environment variables and secrets
# NEVER commit your secrets!
.env
application-local.properties
application-local.yml

# Virtual machine crash logs, e.g. hs_err_pid*
hs_err_pid*

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                IDE CONFIGURATIONS                #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Visual Studio Code
.vscode/
*.code-workspace

# Eclipse
.project
.classpath
.settings/

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                  OS & TEMP FILES                 #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*~

gitHappyKlay*

